.butt {
    width: 100px;
    height: 50px;
    font-family: cursive;
    z-index: 1;
    position: relative;
    font-size: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    border-radius: 20px;
}

.butt::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #3cefff;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.butt:hover {
    cursor: pointer;
    color: #161616;
}

.butt:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


.mainButton {
    flex: 0 1 50%;
}