.main {
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    flex: 0 1 100%;
}

.limit {
    color: red;
}

