.counter {
    display: flex;
    flex-wrap: wrap;
    background: #61dafb;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.settings {
    background: #b54ae0;
    width: 500px;
    margin: 50px auto;
    text-align: center;
}